/*font*/
@font-face {
    font-family: "OpenSans";
    url("../font/open-sans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
}

/**/

body,html{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    opacity: 0;

}
.innerwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content1, .content2 , .content3{
    width: 276px;
}

/*for all*/

.inactive_button{
    cursor: default;
    color: #bbbbbb;
}

/*STEP1*/

/*header*/
.header{
    margin-bottom: 40px;

}
.header__text{
    margin-top: 16px;

}
.header__button{
    width: 40px;
    height: 40px;
    /*color: #bbbbbb;*/
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
}


/*content*/
.content__input{
    height: 46px;
    line-height: 46px;
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
    width: 100%;
}
.content__name{
    margin-bottom: 16px;
}
.content__email{
    margin-bottom: 150px;
}


.content__select{
    height: 46px;
    line-height: 46px;
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
    width: 100%;
}
.content__option:first-child{
    color: #bbbbbb;
}
.content__country{
    margin-bottom: 16px;
}
.content__city{
    margin-bottom: 150px;
}


.content3{
    margin-bottom: 142px;
}

.content__social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.content__socialtext{
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
    margin-left: 20px;
    width: 150px;
    display: none;
}
.content__socialcheck{
    margin-right: 5px;
}

.content__imgcontainer{
    margin-bottom: 16px;

}
.content__images{
    width: 150px;
    height: 150px;
    border-radius: 2px;
    margin-right: 16px;
    /*border: 3px solid transparent;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.content__images:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.content__dog{
    color: red;
}

/*switch*/
.switch__button{
    color: #ff9800;
    background-color: #fff;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 2px;
}
.switch__next{
    margin-left: 16px;
}


/*final*/

.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.final__result{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 24px;
    background-color: #fff;
}
.final__text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.final__image{
    width: 200px;
    height: 195px;
    margin-left: 40px;
}

.final__reset{
    color: #fff;
    background-color: #ff9800;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 2px;
}
.final__social-title{
    color: blue;
}